modules = ["nodejs-20", "web", "python-3.12"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"
run = ["node", "server.js"]

[userenv]

[userenv.shared]
GROQ_API_KEY = "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"
TESTNET_MNEMONIC = "unique grace fuel derive vicious city dizzy slab rent cannon west alcohol desk vessel project scout album bottom gap focus lend layer pair above birth"
AGENT_WALLET_MNEMONIC = "unique grace fuel derive vicious city dizzy slab rent cannon west alcohol desk vessel project scout album bottom gap focus lend layer pair above birth"
VITE_AGENT_WALLET_ADDRESS = "NLJE4ZCTVQTOG4JPZ3EABZ63BON5M2XGKD5NDN77M33DCWUF5AC2DLWA5U"
